//FONTS
$font: 'Open Sans', sans-serif;

//FONT WEIGHT
$w-light: 300;
$w-regular: 400;
$w-semi-bold: 600;

//FONT SIZE
$h-text: 1.2rem;
$h-title: $h-text *2.5;
$h-subtitle: $h-text*2.1;

//COLORS
$c-1: #F5A201;
$c-2: #FFB319;
$c-3: #A87000;
$c-4: #0043A8;
$c-5: #0061F5;